@import "./config";
@import "./login";
@import "./register";
@import "./modules/modules";
@import "./sidebar/sidebar";
@import "./captured/captured";
@import "./common/common";


body {
  overflow-x: hidden;
}

a {
  text-decoration-line: none;
}

img {
  object-fit: contain;
}

.container-fluid {
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

ul {
   list-style: none;
}