.captured_body{
  margin-top: 20px;

  .captured_tabs{
    a{
      color: $inactive-text;
      font-weight: 500;
      font-size: 14px;
  
       &.active{
          color: $link-color;
          font-weight: 700;
       }
    }
  }
  
  .captured_table{
      background: white;
      margin: 0 1rem;
      width: 95%;
      border: 1px solid white;
      border-radius: 5px;
      min-height: 480px;
  }
}
