.user-div {
   .user-img-icon{
        border-radius: 50%;
        width: 65px;
        height: 65px;
        background: $secondary-color;
        border: 3px solid $primary-color;
        padding-top: 14px;
        position: fixed;
        top : 55px;
        left: 34px;
        text-align: center;

        span{
          color: $primary-color;
          font-weight: 650;
          font-size: 28px;
      }
   }

   .user-email{
     text-align: center;
      margin-top: 80px;
      font-size: 11px;
      color: $text-color;
   }
}