@import './accountDiv';
@import './navlinks';

.sidebar{
   .sidebar-header{
     text-align: center;

     img {
        width: 97px;
        height: 47px;
     }
   }

   .logout-btn {
       background: none;
       border: none;
       color: $primary-color;
       position: absolute;
       bottom: 10px;
       left: 30px;
       font-weight: 600;
   }
}